In [1]:
import sys
import os
import pandas as pd

In [2]:
f = open('tem.txt')
a = list(f)
a = [x.strip() for x in a]
total = len(a)//3
all = []
record = 0
for i in range(total):
    all.append([])
    for j in range(0,3):
        a[record].replace("\n","")
        all[i].append(a[record])
        record+=1
print(all)

[['A.J. Buckley', 'NULL', '0'], ['A.R. Rahman', 'NULL', '0'], ['Aamir Khan', 'NULL', '0'], ['LEE', '2021/06/12, 15:36:15', '0'], ['Lai', 'NULL', '0'], ['Tsai', 'NULL', '0'], ['alan walker', 'NULL', '0'], ['alex', 'NULL', '0'], ['trump', 'NULL', '0']]

In [5]:
import time
t = time.localtime()
date = time.strftime("%Y%m%d",t)
print(date)

20210612

In [6]:
name = ['name','time','with_mask']
test = pd.DataFrame(columns=name,data=all)
print(test)
test.to_csv(date+'.csv',encoding='gbk')

           name                  time with_mask
0  A.J. Buckley                  NULL         0
1   A.R. Rahman                  NULL         0
2    Aamir Khan                  NULL         0
3           LEE  2021/06/12, 15:36:15         0
4           Lai                  NULL         0
5          Tsai                  NULL         0
6   alan walker                  NULL         0
7          alex                  NULL         0
8         trump                  NULL         0